<ion-view view-title="FarmArt">
  <ion-content class="has-subheader padding">
    <div class="card special" align="center">
      <h2>Welcome to FarmArt</h2>
      <p>
      This is the farmers one stop for the farm issues <a href="http://market.ionic.io/starters" target="_blank">from home</a>.
      </p>
      <p>
        To interact with experts please navigate to <a href="#/app/rooms" target="_blank">chats</a>. This app is where hope in making money through farming is revived
      </p>
      <p>
      Through this platform, you can buy and sell your agricultural produce, machinery and other farming attributes.
      </p>
      <p>
      for help on getting started, please dont hesitate to reach our help desk, 0724871111
      </p>
    </div>
  </ion-content>
</ion-view>
