<ion-view title="Rooms" ng-controller="HomeController as home_ctrl">
 	<!-- <header class="bar bar-header bar-balanced">
 		<h1 class="title">Rooms</h1>
 	</header> -->

  <ion-content class="has-subheader">
	<div class="card myback" align="center">
	  Enter a room of your choice to chat with fellow farmers
	</div>

  <div class="card" ng-repeat="room in home_ctrl.rooms">

    <a class="item item-avatar myback"  ng-click="enterRoom(room)">
      <img src="{{room.pic}}">
      <strong>{{room.room}}</strong>

    </a>

  </div>

  </ion-content>

</ion-view>
