<ion-view title="Rooms" ng-controller="HomeController as home_ctrl">
 	<!-- <header class="bar bar-header bar-balanced">
 		<h1 class="title">Rooms</h1>
 	</header> -->

  <ion-content class="has-subheader">
	<div class="card rnd" align="center">
	  Enter a room of your choice to chat with fellow farmers
	</div>

  <div class="card rnd" align="center" ng-repeat="room in home_ctrl.rooms" ng-click="enterRoom(room)">

    <!--<a class="item item-avatar special"  >-->
      <!--<img src="{{room.pic}}">-->
      <h5>{{room.room}}</h5>

    <!--</a>-->

  </div>

  </ion-content>

</ion-view>
